@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/dist/css/bootstrap.min.css";
.bg-dashboard {
    background-image: url('/images/fond.jpg');
    background-size: cover;
    background-position: center;
}
